<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>任租客后台管理系统</title>
  <script src="../node_modules/hydrogen-js-sdk/dist/Bmob-1.6.5.min.js"></script>
  <script src="../node_modules/vue/dist/vue.js"></script>
  <script src="../node_modules/vue-router/dist/vue-router.js"></script>
  <link rel="stylesheet" href="../node_modules/element-ui/lib/theme-chalk/index.css">
  <script src="../node_modules/element-ui/lib/index.js"></script>
  <link rel="stylesheet" href="./main.css">
</head>
<body>
  <div id="app">
    <el-container>
      <el-header>任租客后台管理系统</el-header>
      <el-container>
        <el-aside width="200px">
          <router-link v-for="(item,id) of menus" :key="id" :to="item.path">{{ item.label }}</router-link>
        </el-aside>
        <el-main>
          <router-view></router-view>
        </el-main>
      </el-container>
    </el-container>
  </div>


  <!-- 模版 -->
  <script type="text/x-template" id="banner">
    <div class="banner">
      <el-button type="primary" icon="el-icon-plus">添加</el-button>
    </div>
  </script>
  <script type="text/x-template" id="hotsite">
    <div class="hotsite">
      <el-button type="primary" icon="el-icon-plus">添加</el-button>
    </div>
  </script>
  <script type="text/x-template" id="category">
    <div class="category">
      <el-button type="primary" icon="el-icon-plus">添加</el-button>
    </div>
  </script>
  <script type="text/x-template" id="proinfo">
    <div class="proinfo">
      <!-- Form -->
      <el-button type="primary" @click="dialogProVisible = true" icon="el-icon-plus" style="margin-bottom:10px;">添加</el-button>
      <el-button type="primary" @click="refreshProducts()" icon="el-icon-refresh" style="margin-bottom:10px;margin-right:10px;">刷新</el-button>

      <el-dialog title="商品信息" :visible.sync="dialogProVisible">
        <!-- 基本信息 -->
        <h4>----基本信息----</h4><br/>
        <el-form :model="newProduct">
          <el-form-item label="商品名称" :label-width="formLabelWidth">
            <el-input v-model="newProduct.name" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="价格" :label-width="formLabelWidth">
            <el-input type="number" v-model="newProduct.price" autocomplete="off">
              <template slot="prepend">￥</template>
              <template slot="append">/天</template>
            </el-input>
          </el-form-item>
          <el-form-item label="图片" :label-width="formLabelWidth">
            <el-input v-model="newProduct.img" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="分类" :label-width="formLabelWidth">
            <el-select v-model="newProduct.category" placeholder="请选择商品分类">
              <el-option label="热租商品" value="0"></el-option>
              <el-option label="电玩娱乐" value="1"></el-option>
              <el-option label="办公用品" value="2"></el-option>
              <el-option label="智能生活" value="3"></el-option>
              <el-option label="品牌手机" value="4"></el-option>
              <el-option label="3C数码" value="5"></el-option>
              <el-option label="居家日常" value="6"></el-option>
              <el-option label="生活家电" value="7"></el-option>
              <el-option label="儿童玩具" value="8"></el-option>
              <el-option label="户外活动" value="9"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <!-- 详情 -->
        <h4>----详细信息----</h4><br/>
        <el-form :model="newProductDetail">
          <el-form-item label="描述" :label-width="formLabelWidth">
            <el-input v-model="newProductDetail.des" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="寄出" :label-width="formLabelWidth">
            <el-input v-model="newProductDetail.email.post" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="寄回" :label-width="formLabelWidth">
            <el-input v-model="newProductDetail.email.back" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="发货地" :label-width="formLabelWidth">
            <el-input v-model="newProductDetail.email.from" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="押金" :label-width="formLabelWidth">
            <el-input v-model="newProductDetail.cash" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="分级价格" :label-width="formLabelWidth" v-for="(pri,id) of newProductDetail.prices" :key="id">
            <el-col :span="11">
              <el-form-item>
                  <el-input type="number" v-model="newProductDetail.prices[id].days" autocomplete="off">                    
                    <template slot="append">天</template>
                  </el-input>
              </el-form-item>
            </el-col>
            <el-col class="line" :span="2">：</el-col>
            <el-col :span="11">
              <el-form-item>                
                <el-input type="number" v-model="newProductDetail.prices[id].price" autocomplete="off">                     
                  <template slot="prepend">￥</template>     
                </el-input>
              </el-form-item>
            </el-col>
          </el-form-item>
          <el-form-item>
            <el-button @click="addPrices()" icon="el-icon-plus" plain>添加价格等级</el-button>
          </el-form-item>
          
          <el-form-item label="配置信息" :label-width="formLabelWidth">
              <el-input v-for="(pri,id) of newProductDetail.config" :key="id" v-model="newProductDetail.config[id]" autocomplete="off"></el-input>
              <el-button @click="addConfig()" icon="el-icon-plus" plain>添加配置信息</el-button>
          </el-form-item>
          
          <el-form-item label="商品信息" :label-width="formLabelWidth">
            <el-input v-for="(pri,id) of newProductDetail.info" :key="id" v-model="newProductDetail.info[id]" autocomplete="off"></el-input>
            <el-button @click="addInfo()" icon="el-icon-plus" plain>添加图片</el-button>
          </el-form-item>
          <el-form-item :label-width="formLabelWidth" v-for="item of newProductDetail.params" :key="item.id" label="商品参数">   
              <el-col :span="11">
                <el-form-item>
                    <el-input v-model="item.k" autocomplete="off" placeholder="参数名"></el-input>
                </el-form-item>
              </el-col>
              <el-col class="line" :span="2">:</el-col>
              <el-col :span="11">
                <el-form-item>                
                  <el-input v-model="item.v" autocomplete="off" placeholder="参数值"></el-input>
                </el-form-item>
              </el-col>
          </el-form-item>
          <el-button @click="addParams()" icon="el-icon-plus" plain>添加商品参数</el-button>
        </el-form>
        <div style="clear:both"></div>
        
        <div slot="footer" class="dialog-footer" style="height:40px">
          <el-button @click="dialogProVisible = false" style="margin-left:10px">取 消</el-button>
          <el-button type="primary" @click="addProduct()">确 定</el-button>
        </div>
      </el-dialog>

      <!-- table -->
      <el-table :data="products" style="width:100%" border stripe>
        <el-table-column prop="id" label="商品id"></el-table-column>
        <el-table-column prop="name" label="名称"></el-table-column>
        <el-table-column prop="img" label="图片">
          <template slot-scope="scope">
            <img :src="scope.row.img" style="width:50px;height:50px;" />
          </template>
        </el-table-column>
        <el-table-column prop="price" label="价格"></el-table-column>
        <el-table-column prop="category" label="所属分类"></el-table-column>
        <el-table-column label="操作" width="130">
          <template slot-scope="scope">
            <el-button @click="operatePro(scope.row,1)" style="margin-left:10px" type="text" size="small">删除</el-button>
            <el-button @click="operatePro(scope.row,0)" style="margin-left:10px" type="text" size="small">编辑</el-button>
            <el-button @click="operatePro(scope.row,2)" style="margin-left:10px" type="text" size="small">详情</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </script>
  <script type="text/x-template" id="user">
    <div class="user">
      <el-button type="primary" icon="el-icon-plus">添加</el-button>
    </div>
  </script>


  <script src="./main.js"></script>
</body>
</html>